In [3]:
import pandas as pd
import numpy as np

results = pd.read_csv("results.csv")

In [4]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
47912,2024-11-19,Oman,Iraq,0,1,FIFA World Cup qualification,Muscat,Oman,False
47913,2024-11-19,Kuwait,Jordan,1,1,FIFA World Cup qualification,Kuwait City,Kuwait,False
47914,2024-11-19,Bahrain,Australia,2,2,FIFA World Cup qualification,Riffa,Bahrain,False
47915,2024-11-19,Indonesia,Saudi Arabia,2,0,FIFA World Cup qualification,Jakarta,Indonesia,False
47916,2024-11-19,China PR,Japan,1,3,FIFA World Cup qualification,Xiamen,China PR,False

In [29]:
import pandas as pd
import numpy as np

# Load dataset
# Replace 'matches.csv' with the path to your dataset
df = pd.read_csv('results.csv')

# Filter for European countries
european_countries = [
    'Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan', 'Belarus', 'Belgium', 
    'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 
    'Denmark', 'Estonia','England', 'Finland', 'France', 'Faroe Islands', 'Georgia', 'Germany', 'Greece', 'Hungary', 
    'Iceland', 'Republic of Ireland', 'Italy', 'Israel', 'Kazakhstan', 'Kosovo', 'Latvia', 'Liechtenstein', 
    'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 
    'North Macedonia', 'Norway', 'Northern Ireland', 'Poland', 'Portugal', 'Romania', 'Russia', 
    'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Scotland', 
    'Turkey', 'Ukraine', 'Gibraltar', 'Wales'
]
print(len(european_countries))
df = df[df['home_team'].isin(european_countries) & df['away_team'].isin(european_countries)]

# Feature Engineering
# 1. Create a "home_advantage" feature
df['home_advantage'] = np.where(df['neutral'] == False, 1, 0)

# 2. Calculate goal difference as a feature
df['goal_difference'] = df['home_score'] - df['away_score']

# 3. Encode match outcome (target variable)
# 0 = Draw, 1 = Home Win, 2 = Away Win
df['match_outcome'] = df.apply(
    lambda row: 1 if row['home_score'] > row['away_score'] else
                (2 if row['home_score'] < row['away_score'] else 0), axis=1)
df

55

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_advantage,goal_difference,match_outcome
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1,0,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1,2,1
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1,1,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1,0,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
47886,2024-11-19,Montenegro,Turkey,3,1,UEFA Nations League,Podgorica,Montenegro,False,1,2,1
47887,2024-11-19,Slovakia,Estonia,1,0,UEFA Nations League,Trnava,Slovakia,False,1,1,1
47888,2024-11-19,Sweden,Azerbaijan,6,0,UEFA Nations League,Solna,Sweden,False,1,6,1
47889,2024-11-19,Malta,Andorra,0,0,UEFA Nations League,Ta' Qali,Malta,False,1,0,0
47897,2024-11-19,Gibraltar,Moldova,1,1,Friendly,Gibraltar,Gibraltar,False,1,0,0

In [71]:
def calculate_recent_form(df, window=5):
    # Create a copy to avoid modifying the original dataframe
    df = df.sort_values('date')
    
    # Prepare dataframes for home and away teams
    home_teams = df.groupby('home_team')
    away_teams = df.groupby('away_team')
    
    # Compute form for each team
    team_forms = {}
    for team in df['home_team'].unique():
        # Get team's matches
        team_home_matches = home_teams.get_group(team) if team in home_teams.groups else pd.DataFrame()
        team_away_matches = away_teams.get_group(team) if team in away_teams.groups else pd.DataFrame()
        
        # Combine and sort matches
        team_matches = pd.concat([team_home_matches, team_away_matches]).sort_values('date')
        
        # Compute wins
        home_wins = ((team_matches['home_team'] == team) & (team_matches['home_score'] > team_matches['away_score'])).rolling(window=window, min_periods=window).sum()
        away_wins = ((team_matches['away_team'] == team) & (team_matches['away_score'] > team_matches['home_score'])).rolling(window=window, min_periods=window).sum()
        
        # Combine wins and compute form
        total_wins = home_wins + away_wins
        form = total_wins / window
        
        team_forms[team] = form.fillna(0)
    
    # Map forms back to original dataframe
    df['home_team_recent_form'] = df.apply(lambda row: team_forms[row['home_team']].loc[row.name] if row.name in team_forms[row['home_team']].index else 0, axis=1)
    df['away_team_recent_form'] = df.apply(lambda row: team_forms[row['away_team']].loc[row.name] if row.name in team_forms[row['away_team']].index else 0, axis=1)
    
    return df

df = calculate_recent_form(df)
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_advantage,goal_difference,match_outcome,home_team_recent_form,away_team_recent_form
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1,0,0,0.0,0.0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1,2,1,0.0,0.0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1,1,1,0.0,0.0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1,0,0,0.0,0.0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1,3,1,0.4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47882,2024-11-19,Hungary,Germany,1,1,UEFA Nations League,Budapest,Hungary,False,1,0,0,0.2,0.6
47881,2024-11-19,Bosnia and Herzegovina,Netherlands,1,1,UEFA Nations League,Zenica,Bosnia and Herzegovina,False,1,0,0,0.0,0.2
47883,2024-11-19,Albania,Ukraine,1,2,UEFA Nations League,Tirana,Albania,False,1,-1,2,0.2,0.4
47889,2024-11-19,Malta,Andorra,0,0,UEFA Nations League,Ta' Qali,Malta,False,1,0,0,0.6,0.2
47897,2024-11-19,Gibraltar,Moldova,1,1,Friendly,Gibraltar,Gibraltar,False,1,0,0,0.2,0.6

In [75]:
neutralmatches = df['neutral'] == True
neutralmatches

0        False
1        False
2        False
3        False
4        False
         ...
47882    False
47881    False
47883    False
47889    False
47897    False
Name: neutral, Length: 12878, dtype: bool

In [42]:
import pandas as pd

# Assuming 'results' is your DataFrame containing the match data
# Example column names: 'home_score', 'away_score', 'neutral', 'home_team', 'away_team'

# Filter the dataset for non-neutral matches
non_neutral_matches = results[results['neutral'] == False]

# Identify home team wins
home_team_wins = non_neutral_matches[non_neutral_matches['home_score'] > non_neutral_matches['away_score']]
away_team_wins = non_neutral_matches[non_neutral_matches['away_score'] > non_neutral_matches['home_score']]


# Count the number of home team wins
home_team_wins_count = home_team_wins.shape[0]
away_team_wins_count = away_team_wins.shape[0]
draws = european_matches.shape[0] - home_team_wins_count - away_team_wins_count

# Display the result
print(f"Number of home team wins : {home_team_wins_count}")
print(f"Number of away team wins : {away_team_wins_count}")
print(f"Number of draws : {draws}")

Number of home team wins : 4129
Number of away team wins : 2611
Number of draws : 2709

In [42]:
import pandas as pd

# Assuming 'results' is your DataFrame containing the match data
# Example column names: 'home_score', 'away_score', 'neutral', 'home_team', 'away_team'

# Filter the dataset for non-neutral matches
non_neutral_matches = results[results['neutral'] == False]

# Identify home team wins
home_team_wins = non_neutral_matches[non_neutral_matches['home_score'] > non_neutral_matches['away_score']]
away_team_wins = non_neutral_matches[non_neutral_matches['away_score'] > non_neutral_matches['home_score']]


# Count the number of home team wins
home_team_wins_count = home_team_wins.shape[0]
away_team_wins_count = away_team_wins.shape[0]
draws = european_matches.shape[0] - home_team_wins_count - away_team_wins_count

# Display the result
print(f"Number of home team wins : {home_team_wins_count}")
print(f"Number of away team wins : {away_team_wins_count}")
print(f"Number of draws : {draws}")

Number of home team wins : 4129
Number of away team wins : 2611
Number of draws : 2709

In [78]:
import pandas as pd

# Assuming 'results' is your DataFrame containing the match data
# Example column names: 'home_score', 'away_score', 'tournament'

# Filter the dataset for friendlies
friendlies = results[results['tournament'] == 'Friendly']
print(f'number of friendlies {len(friendlies)}')

# Filter the dataset for non-friendly matches (other tournaments)
other_tournaments = results[results['tournament'] != 'Friendly']
print(f'Other tournaments = {len(other_tournaments)}')

# Sum the total goals scored in friendlies
friendlies_goals = friendlies['home_score'].sum() + friendlies['away_score'].sum()

# Sum the total goals scored in other tournaments
other_tournaments_goals = other_tournaments['home_score'].sum() + other_tournaments['away_score'].sum()

friendlies_count = friendlies.shape[0]  # Number of friendlies
other_tournaments_count = other_tournaments.shape[0]  # Number of other tournaments

# Calculate the average number of goals per match
average_goals_friendlies = friendlies_goals / friendlies_count if friendlies_count > 0 else 0
average_goals_other_tournaments = other_tournaments_goals / other_tournaments_count if other_tournaments_count > 0 else 0

print(average_goals_friendlies)
print(average_goals_other_tournaments)

number of friendlies 3971
Other tournaments = 5478
3.157642911105515
2.940489229645856

In [82]:
uefa_euro_matches = results[results['tournament'] == 'UEFA Euro']

# Sum the total goals scored in UEFA Euro tournaments
uefa_euro_goals = uefa_euro_matches['home_score'].sum() + uefa_euro_matches['away_score'].sum()

# Count the number of UEFA Euro matches
uefa_euro_count = uefa_euro_matches.shape[0]  # Number of UEFA Euro matches

# Calculate the average number of goals per match in UEFA Euro tournaments
average_goals_uefa_euro = uefa_euro_goals / uefa_euro_count if uefa_euro_count > 0 else 0

# Display the results
print(f"Total goals scored in UEFA Euro tournaments: {uefa_euro_goals}")
print(f"Average goals per match in UEFA Euro tournaments: {average_goals_uefa_euro:.2f}")

Total goals scored in UEFA Euro tournaments: 713
Average goals per match in UEFA Euro tournaments: 2.42